<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <% if logged_in? %>
      <%= link_to "Create a new event", new_event_path %>
    <% end %>
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <div>
        <h3>You have these events in your schedule!!</h3>
        <% if @user.events_invited.any? %>
          <div>
            <% @user.events_invited.each do |event| %>
              <p><%= event.location %></p>
              <p><%= event.date %></p>
              <p><%= event.description %></p>
              <p><%= event.creator.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
  <% if @user.events.any? %>
    <h3>Events (<%= @user.events.count %>)</h3>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <%= render @user.events %>
    </table>
  <% end %> 

  </div>
</div>