<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-7 events-container">
    <% if logged_in? && @user.id == current_user.id %>
      <%= link_to "Create a new event", new_event_path, class: "btn btn-primary" %>
    <% end %>
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      <%= render @user.events %>
    <% else %>
      <div class="create-event-container">
        <strong>You have no events!!!</strong>
      </div>
    <% end %>
  </div>
  <aside class="col-md-5">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <div>
        <h5>You have these events in your schedule!!</h5>
        <div class="event-buttons">
          <%= link_to 'Upcoming events', user_path(@user, params: { coming: 'true' }),
                method: :get, class: 'btn btn-secundary' %>
          <%= link_to 'Passed events', user_path(@user, params: { passed: 'true' }),
                method: :get, class: 'btn btn-secundary' %> 
        </div>
        <% if @events.any? %>
          <% @events.each do |e| %>
            <%= e.location %>
            <%= e.date.strftime('%Y %B %d %I:%M%p') %>
            <%= e.creator.name %>

          <% end %>
        <% end %>
      </div>
    </section>
  </aside>
</div>