<div class="container">
  <div class="card">
    <div class="card-body">
      <h2><%= @event.creator.name %>'s event.</h2>
      <div class="event-info">
        <small><strong>Location:</strong><%= @event.location %></small> <br>
        <small><strong>Date:</strong><%= @event.date %></small><br>
        <small><strong>Description:</strong><%= @event.description %></small><br>
      </div>
      <div class="event-actions">
        <% if logged_in? && current_user.id != @event.creator_id %>
          <%= link_to "Attend to this eventttt", attend_event_path(@event), {method: :post} %>
        <% end %>
      </div>
    </div>
  </div>
</div>