<div class="container">
  <div class="card">
    <div class="card-body">
      <h2><%= @event.creator.name %>'s event.</h2>
      <div class="event-info">
        <small><strong>Location:</strong><%= @event.location %></small> <br>
        <small><strong>Date:</strong><%= @event.date.strftime('%Y %B %d %I:%M%p') %></small><br>
        <small><strong>Description:</strong><%= @event.description %></small><br>
      </div>
      <div class="event-actions">
        <% if logged_in? && current_user.id != @event.creator_id %>
          <% if current_user.attended_events.ids.exclude? @event.id%>
              <%= link_to "Attend to this event", attend_event_path(@event), {method: :post} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if logged_in? && current_user.id == @event.creator_id %>
    <div class="invite-users">
      <%= collection_select(:invitation, :attendee_id, User.all, :id, :name, prompt: true) %>
    </div>

    <div class="dropdown" style="display:inline-block;">
      <button id="country-select-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Invite A User
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <% User.all.each do |user| %>
            <%= content_tag(:li, link_to(user.name.titleize, user_path(user_id: user.id), remote: :true)) %>
          <% end %>
      </ul>
    </div>
  <% end %>
  <% if @event.attendees.any? %>
    <h4>Currently attending:</h4>
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= attendee.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>