<header class="header-container">
  <nav>
    <div class="nav-title">
      <p>Private Events</p>
    </div>
    <ul>
      <%= link_to "Events" , events_path %>

      <% if logged_in? %>
        <%= link_to "My events" , current_user %>
        <%= link_to invited_events_path, class: "invites-event" do %>
          <%= fa_stacked_icon "dallar", base: "square-o", text: "Invites" %>
          <% if current_user.invitations.where(accepted: false).any? %>
            <span class="span-event"><%= current_user.invitations.where(accepted: false).count %></span>
          <% end %> 
        <% end %>>
        <%= link_to "Logout" , logout_path %>
      <% else %>
        <%= link_to "Login" , login_path %>
        <%= link_to "SignUp" , signup_path %>
      <% end %>
    </ul>
  </nav>
</header>