<header class="header-container">
  <nav>
    <div class="nav-title">
      <p>Private Events</p>
    </div>
    <div class="separator"></div>
    <ul>
      <%= link_to "Events" , events_path %>

      <% if logged_in? %>
        <%= link_to "My events" , current_user %>
        <%= link_to invited_events_path, class: "invites-event" do %>
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-dallar fa-stack-1x"><%= current_user.invitations.where(accepted: false).count %></i>
          </span>Invites
        <% end %>
        <%= link_to "Logout" , logout_path %>
      <% else %>
        <%= link_to "Login" , login_path %>
        <%= link_to "SignUp" , signup_path %>
      <% end %>
    </ul>
    <p class="user-name">
      <% if current_user %>
        <%= current_user.name %>
      <% end %>
    </p>
  </nav>
</header>